In [9]:
import pandas as pd
import string

In [10]:
df = pd.read_csv('example.txt', header=None, names=['input_string']) # ešte index_col parameter sa používa často...
df

                       input_string
0          vJrwpWtwJgWrhcsFMMfFFhFp
1  jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL
2                PmmdzqPrVvPwwTWBwg
3    wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn
4                  ttgJtRGJQctTZtZT
5          CrZsJsPPZsGzwwsLwLmpwMDw

In [11]:
df['part1']=df['input_string'].apply(lambda x:x[ : len(x)//2])
df['part2']=df['input_string'].apply(lambda x:x[len(x)//2 : ])
df

                       input_string             part1             part2
0          vJrwpWtwJgWrhcsFMMfFFhFp      vJrwpWtwJgWr      hcsFMMfFFhFp
1  jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL  jqHRNqRjqzjGDLGL  rsFMfFZSrLrFZsSL
2                PmmdzqPrVvPwwTWBwg         PmmdzqPrV         vPwwTWBwg
3    wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn   wMqvLMZHhHMvwLH   jbvcjnnSBnvTQFn
4                  ttgJtRGJQctTZtZT          ttgJtRGJ          QctTZtZT
5          CrZsJsPPZsGzwwsLwLmpwMDw      CrZsJsPPZsGz      wwsLwLmpwMDw

In [12]:
df['set1']=df['part1'].apply(set)
df['set2']=df['part2'].apply(set)
df

,input_string,part1,part2,set1,set2
0,vJrwpWtwJgWrhcsFMMfFFhFp,vJrwpWtwJgWr,hcsFMMfFFhFp,"{r, g, J, v, t, w, W, p}","{f, h, M, F, c, p, s}"
1,jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL,jqHRNqRjqzjGDLGL,rsFMfFZSrLrFZsSL,"{G, D, z, R, N, H, j, q, L}","{f, r, M, Z, S, L, F, s}"
2,PmmdzqPrVvPwwTWBwg,PmmdzqPrV,vPwwTWBwg,"{r, z, P, d, q, m, V}","{g, B, P, v, w, W, T}"
3,wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn,wMqvLMZHhHMvwLH,jbvcjnnSBnvTQFn,"{h, M, Z, H, v, q, w, L}","{B, Q, v, n, j, S, T, F, c, b}"
4,ttgJtRGJQctTZtZT,ttgJtRGJ,QctTZtZT,"{G, g, R, J, t}","{Z, Q, t, T, c}"
5,CrZsJsPPZsGzwwsLwLmpwMDw,CrZsJsPPZsGz,wwsLwLmpwMDw,"{G, r, z, Z, J, C, P, s}","{D, M, m, w, L, p, s}"

In [13]:
df['intersect'] = df.apply(lambda x: x['set1'].intersection(x['set2']) , axis=1)
df

,input_string,part1,part2,set1,set2,intersect
0,vJrwpWtwJgWrhcsFMMfFFhFp,vJrwpWtwJgWr,hcsFMMfFFhFp,"{r, g, J, v, t, w, W, p}","{f, h, M, F, c, p, s}",{p}
1,jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL,jqHRNqRjqzjGDLGL,rsFMfFZSrLrFZsSL,"{G, D, z, R, N, H, j, q, L}","{f, r, M, Z, S, L, F, s}",{L}
2,PmmdzqPrVvPwwTWBwg,PmmdzqPrV,vPwwTWBwg,"{r, z, P, d, q, m, V}","{g, B, P, v, w, W, T}",{P}
3,wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn,wMqvLMZHhHMvwLH,jbvcjnnSBnvTQFn,"{h, M, Z, H, v, q, w, L}","{B, Q, v, n, j, S, T, F, c, b}",{v}
4,ttgJtRGJQctTZtZT,ttgJtRGJ,QctTZtZT,"{G, g, R, J, t}","{Z, Q, t, T, c}",{t}
5,CrZsJsPPZsGzwwsLwLmpwMDw,CrZsJsPPZsGz,wwsLwLmpwMDw,"{G, r, z, Z, J, C, P, s}","{D, M, m, w, L, p, s}",{s}

In [14]:
value_mapper = { v:k for k,v in enumerate(string.ascii_letters, start=1) }
value_mapper

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26,
 'A': 27,
 'B': 28,
 'C': 29,
 'D': 30,
 'E': 31,
 'F': 32,
 'G': 33,
 'H': 34,
 'I': 35,
 'J': 36,
 'K': 37,
 'L': 38,
 'M': 39,
 'N': 40,
 'O': 41,
 'P': 42,
 'Q': 43,
 'R': 44,
 'S': 45,
 'T': 46,
 'U': 47,
 'V': 48,
 'W': 49,
 'X': 50,
 'Y': 51,
 'Z': 52}

In [15]:
df['value'] = df['intersect'].map(lambda x:value_mapper[str(*x)]) # could also by done with .apply(lambda ...)
df

,input_string,part1,part2,set1,set2,intersect,value
0,vJrwpWtwJgWrhcsFMMfFFhFp,vJrwpWtwJgWr,hcsFMMfFFhFp,"{r, g, J, v, t, w, W, p}","{f, h, M, F, c, p, s}",{p},16
1,jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL,jqHRNqRjqzjGDLGL,rsFMfFZSrLrFZsSL,"{G, D, z, R, N, H, j, q, L}","{f, r, M, Z, S, L, F, s}",{L},38
2,PmmdzqPrVvPwwTWBwg,PmmdzqPrV,vPwwTWBwg,"{r, z, P, d, q, m, V}","{g, B, P, v, w, W, T}",{P},42
3,wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn,wMqvLMZHhHMvwLH,jbvcjnnSBnvTQFn,"{h, M, Z, H, v, q, w, L}","{B, Q, v, n, j, S, T, F, c, b}",{v},22
4,ttgJtRGJQctTZtZT,ttgJtRGJ,QctTZtZT,"{G, g, R, J, t}","{Z, Q, t, T, c}",{t},20
5,CrZsJsPPZsGzwwsLwLmpwMDw,CrZsJsPPZsGz,wwsLwLmpwMDw,"{G, r, z, Z, J, C, P, s}","{D, M, m, w, L, p, s}",{s},19

In [16]:
result = df['value'].sum()
print(f'Part A result:\n{result}')

Part A result:
157

# part B:

In [17]:
df = pd.read_csv('example.txt', header=None, names=['input_string'])
df

                       input_string
0          vJrwpWtwJgWrhcsFMMfFFhFp
1  jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL
2                PmmdzqPrVvPwwTWBwg
3    wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn
4                  ttgJtRGJQctTZtZT
5          CrZsJsPPZsGzwwsLwLmpwMDw

In [18]:
df['sets']=df['input_string'].apply(set)
df

,input_string,sets
0,vJrwpWtwJgWrhcsFMMfFFhFp,"{f, r, h, g, M, J, v, t, c, w, F, W, p, s}"
1,jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL,"{G, D, r, f, z, R, N, H, M, Z, j, q, S, L, F, s}"
2,PmmdzqPrVvPwwTWBwg,"{r, z, B, g, P, v, d, q, w, m, V, W, T}"
3,wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn,"{h, M, Z, H, B, T, Q, v, j, n, q, S, w, F, L, ..."
4,ttgJtRGJQctTZtZT,"{G, g, R, Z, Q, J, t, T, c}"
5,CrZsJsPPZsGzwwsLwLmpwMDw,"{G, D, r, z, Z, M, J, C, P, m, w, L, p, s}"

In [19]:
df2 = df.groupby(df.index // 3)['sets'].agg(lambda x:list(x))
df2

0    [{f, r, h, g, M, J, v, t, c, w, F, W, p, s}, {...
1    [{h, M, Z, H, B, T, Q, v, j, n, q, S, w, F, L,...
Name: sets, dtype: object

In [20]:
df2 = df2.apply(lambda x:x[0] & x[1] & x[2] )
df2

0    {r}
1    {Z}
Name: sets, dtype: object

In [21]:
df2 = df2.apply(lambda x:str(*x))
df2

0    r
1    Z
Name: sets, dtype: object

In [22]:
df2 = df2.map(value_mapper)
df2

0    18
1    52
Name: sets, dtype: int64

In [23]:
result = df2.sum()
print(f'Part B result:\n{result}')

Part B result:
70