In [16]:
import pandas as pd
import string

In [17]:
df = pd.read_csv('input.txt', header=None, names=['input_string']) # ešte index_col parameter sa používa často...
df

                                         input_string
0            TZZjzzZLfZbzgzZNNJZjwCVbwMmhwCbBpCMMBCbM
1                            qRQPDqnWFQDtCCBQmQwmGGVG
2                              FPllWPDPrncZsLVrgSZTSZ
3                        RczPzRzvflVwfplrZQglmmJJDGQJ
4                                nFbBWWFZbZtJDjmgmqqF
..                                                ...
295    DvScpDDVfBPqVcSbDpbfHpqwCWGJCwCJhvFdFFwlMGJWCG
296                          fhHPbhZSpDbDTmsTZTjRzzQz
297  QbVQvNrrdFcbcMvvdNrcGrrczPnPplPnfnpzwpgmlflRVwwP
298  jBHLRqZWtLLqWDhBLshBCLsHgpfftfPmmpfpwnwfwJgfpfPn
299            WCRhsLDsDLBChTLWHChFTTMdGTQGvGQcMQNGMd

[300 rows x 1 columns]

In [18]:
df['part1']=df['input_string'].apply(lambda x:x[ : len(x)//2])
df['part2']=df['input_string'].apply(lambda x:x[len(x)//2 : ])
df

,input_string,part1,part2
0,TZZjzzZLfZbzgzZNNJZjwCVbwMmhwCbBpCMMBCbM,TZZjzzZLfZbzgzZNNJZj,wCVbwMmhwCbBpCMMBCbM
1,qRQPDqnWFQDtCCBQmQwmGGVG,qRQPDqnWFQDt,CCBQmQwmGGVG
2,FPllWPDPrncZsLVrgSZTSZ,FPllWPDPrnc,ZsLVrgSZTSZ
3,RczPzRzvflVwfplrZQglmmJJDGQJ,RczPzRzvflVwfp,lrZQglmmJJDGQJ
4,nFbBWWFZbZtJDjmgmqqF,nFbBWWFZbZ,tJDjmgmqqF
...,...,...,...
295,DvScpDDVfBPqVcSbDpbfHpqwCWGJCwCJhvFdFFwlMGJWCG,DvScpDDVfBPqVcSbDpbfHpq,wCWGJCwCJhvFdFFwlMGJWCG
296,fhHPbhZSpDbDTmsTZTjRzzQz,fhHPbhZSpDbD,TmsTZTjRzzQz
297,QbVQvNrrdFcbcMvvdNrcGrrczPnPplPnfnpzwpgmlflRVwwP,QbVQvNrrdFcbcMvvdNrcGrrc,zPnPplPnfnpzwpgmlflRVwwP
298,jBHLRqZWtLLqWDhBLshBCLsHgpfftfPmmpfpwnwfwJgfpfPn,jBHLRqZWtLLqWDhBLshBCLsH,gpfftfPmmpfpwnwfwJgfpfPn
299,WCRhsLDsDLBChTLWHChFTTMdGTQGvGQcMQNGMd,WCRhsLDsDLBChTLWHCh,FTTMdGTQGvGQcMQNGMd

In [19]:
df['set1']=df['part1'].apply(set)
df['set2']=df['part2'].apply(set)
df

,input_string,part1,part2,set1,set2
0,TZZjzzZLfZbzgzZNNJZjwCVbwMmhwCbBpCMMBCbM,TZZjzzZLfZbzgzZNNJZj,wCVbwMmhwCbBpCMMBCbM,"{Z, L, b, J, g, j, T, N, z, f}","{h, B, b, w, p, V, m, C, M}"
1,qRQPDqnWFQDtCCBQmQwmGGVG,qRQPDqnWFQDt,CCBQmQwmGGVG,"{D, R, F, n, q, P, W, t, Q}","{B, w, G, V, m, C, Q}"
2,FPllWPDPrncZsLVrgSZTSZ,FPllWPDPrnc,ZsLVrgSZTSZ,"{D, F, n, P, r, W, l, c}","{Z, L, s, V, r, T, S, g}"
3,RczPzRzvflVwfplrZQglmmJJDGQJ,RczPzRzvflVwfp,lrZQglmmJJDGQJ,"{R, c, w, p, P, V, v, l, z, f}","{Z, J, D, G, Q, r, m, l, g}"
4,nFbBWWFZbZtJDjmgmqqF,nFbBWWFZbZ,tJDjmgmqqF,"{B, Z, b, F, n, W}","{D, J, F, q, j, m, t, g}"
...,...,...,...,...,...
295,DvScpDDVfBPqVcSbDpbfHpqwCWGJCwCJhvFdFFwlMGJWCG,DvScpDDVfBPqVcSbDpbfHpq,wCWGJCwCJhvFdFFwlMGJWCG,"{B, H, b, D, p, P, q, V, S, v, c, f}","{h, J, F, w, G, v, W, C, d, l, M}"
296,fhHPbhZSpDbDTmsTZTjRzzQz,fhHPbhZSpDbD,TmsTZTjRzzQz,"{h, H, b, Z, D, p, P, S, f}","{s, Z, R, Q, j, T, m, z}"
297,QbVQvNrrdFcbcMvvdNrcGrrczPnPplPnfnpzwpgmlflRVwwP,QbVQvNrrdFcbcMvvdNrcGrrc,zPnPplPnfnpzwpgmlflRVwwP,"{b, F, c, G, V, N, r, v, d, Q, M}","{R, n, p, w, P, g, V, m, l, z, f}"
298,jBHLRqZWtLLqWDhBLshBCLsHgpfftfPmmpfpwnwfwJgfpfPn,jBHLRqZWtLLqWDhBLshBCLsH,gpfftfPmmpfpwnwfwJgfpfPn,"{B, H, L, Z, R, D, h, s, q, j, W, t, C}","{J, w, p, n, P, m, t, g, f}"
299,WCRhsLDsDLBChTLWHChFTTMdGTQGvGQcMQNGMd,WCRhsLDsDLBChTLWHCh,FTTMdGTQGvGQcMQNGMd,"{s, h, L, D, R, B, H, T, W, C}","{F, c, G, T, N, v, d, Q, M}"

In [20]:
df['intersect'] = df.apply(lambda x: x['set1'].intersection(x['set2']) , axis=1)
df

,input_string,part1,part2,set1,set2,intersect
0,TZZjzzZLfZbzgzZNNJZjwCVbwMmhwCbBpCMMBCbM,TZZjzzZLfZbzgzZNNJZj,wCVbwMmhwCbBpCMMBCbM,"{Z, L, b, J, g, j, T, N, z, f}","{h, B, b, w, p, V, m, C, M}",{b}
1,qRQPDqnWFQDtCCBQmQwmGGVG,qRQPDqnWFQDt,CCBQmQwmGGVG,"{D, R, F, n, q, P, W, t, Q}","{B, w, G, V, m, C, Q}",{Q}
2,FPllWPDPrncZsLVrgSZTSZ,FPllWPDPrnc,ZsLVrgSZTSZ,"{D, F, n, P, r, W, l, c}","{Z, L, s, V, r, T, S, g}",{r}
3,RczPzRzvflVwfplrZQglmmJJDGQJ,RczPzRzvflVwfp,lrZQglmmJJDGQJ,"{R, c, w, p, P, V, v, l, z, f}","{Z, J, D, G, Q, r, m, l, g}",{l}
4,nFbBWWFZbZtJDjmgmqqF,nFbBWWFZbZ,tJDjmgmqqF,"{B, Z, b, F, n, W}","{D, J, F, q, j, m, t, g}",{F}
...,...,...,...,...,...,...
295,DvScpDDVfBPqVcSbDpbfHpqwCWGJCwCJhvFdFFwlMGJWCG,DvScpDDVfBPqVcSbDpbfHpq,wCWGJCwCJhvFdFFwlMGJWCG,"{B, H, b, D, p, P, q, V, S, v, c, f}","{h, J, F, w, G, v, W, C, d, l, M}",{v}
296,fhHPbhZSpDbDTmsTZTjRzzQz,fhHPbhZSpDbD,TmsTZTjRzzQz,"{h, H, b, Z, D, p, P, S, f}","{s, Z, R, Q, j, T, m, z}",{Z}
297,QbVQvNrrdFcbcMvvdNrcGrrczPnPplPnfnpzwpgmlflRVwwP,QbVQvNrrdFcbcMvvdNrcGrrc,zPnPplPnfnpzwpgmlflRVwwP,"{b, F, c, G, V, N, r, v, d, Q, M}","{R, n, p, w, P, g, V, m, l, z, f}",{V}
298,jBHLRqZWtLLqWDhBLshBCLsHgpfftfPmmpfpwnwfwJgfpfPn,jBHLRqZWtLLqWDhBLshBCLsH,gpfftfPmmpfpwnwfwJgfpfPn,"{B, H, L, Z, R, D, h, s, q, j, W, t, C}","{J, w, p, n, P, m, t, g, f}",{t}
299,WCRhsLDsDLBChTLWHChFTTMdGTQGvGQcMQNGMd,WCRhsLDsDLBChTLWHCh,FTTMdGTQGvGQcMQNGMd,"{s, h, L, D, R, B, H, T, W, C}","{F, c, G, T, N, v, d, Q, M}",{T}

In [21]:
value_mapper = { v:k for k,v in enumerate(string.ascii_letters, start=1) }
value_mapper

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26,
 'A': 27,
 'B': 28,
 'C': 29,
 'D': 30,
 'E': 31,
 'F': 32,
 'G': 33,
 'H': 34,
 'I': 35,
 'J': 36,
 'K': 37,
 'L': 38,
 'M': 39,
 'N': 40,
 'O': 41,
 'P': 42,
 'Q': 43,
 'R': 44,
 'S': 45,
 'T': 46,
 'U': 47,
 'V': 48,
 'W': 49,
 'X': 50,
 'Y': 51,
 'Z': 52}

In [22]:
df['value'] = df['intersect'].map(lambda x:value_mapper[str(*x)]) # could also by done with .apply(lambda ...)
df

,input_string,part1,part2,set1,set2,intersect,value
0,TZZjzzZLfZbzgzZNNJZjwCVbwMmhwCbBpCMMBCbM,TZZjzzZLfZbzgzZNNJZj,wCVbwMmhwCbBpCMMBCbM,"{Z, L, b, J, g, j, T, N, z, f}","{h, B, b, w, p, V, m, C, M}",{b},2
1,qRQPDqnWFQDtCCBQmQwmGGVG,qRQPDqnWFQDt,CCBQmQwmGGVG,"{D, R, F, n, q, P, W, t, Q}","{B, w, G, V, m, C, Q}",{Q},43
2,FPllWPDPrncZsLVrgSZTSZ,FPllWPDPrnc,ZsLVrgSZTSZ,"{D, F, n, P, r, W, l, c}","{Z, L, s, V, r, T, S, g}",{r},18
3,RczPzRzvflVwfplrZQglmmJJDGQJ,RczPzRzvflVwfp,lrZQglmmJJDGQJ,"{R, c, w, p, P, V, v, l, z, f}","{Z, J, D, G, Q, r, m, l, g}",{l},12
4,nFbBWWFZbZtJDjmgmqqF,nFbBWWFZbZ,tJDjmgmqqF,"{B, Z, b, F, n, W}","{D, J, F, q, j, m, t, g}",{F},32
...,...,...,...,...,...,...,...
295,DvScpDDVfBPqVcSbDpbfHpqwCWGJCwCJhvFdFFwlMGJWCG,DvScpDDVfBPqVcSbDpbfHpq,wCWGJCwCJhvFdFFwlMGJWCG,"{B, H, b, D, p, P, q, V, S, v, c, f}","{h, J, F, w, G, v, W, C, d, l, M}",{v},22
296,fhHPbhZSpDbDTmsTZTjRzzQz,fhHPbhZSpDbD,TmsTZTjRzzQz,"{h, H, b, Z, D, p, P, S, f}","{s, Z, R, Q, j, T, m, z}",{Z},52
297,QbVQvNrrdFcbcMvvdNrcGrrczPnPplPnfnpzwpgmlflRVwwP,QbVQvNrrdFcbcMvvdNrcGrrc,zPnPplPnfnpzwpgmlflRVwwP,"{b, F, c, G, V, N, r, v, d, Q, M}","{R, n, p, w, P, g, V, m, l, z, f}",{V},48
298,jBHLRqZWtLLqWDhBLshBCLsHgpfftfPmmpfpwnwfwJgfpfPn,jBHLRqZWtLLqWDhBLshBCLsH,gpfftfPmmpfpwnwfwJgfpfPn,"{B, H, L, Z, R, D, h, s, q, j, W, t, C}","{J, w, p, n, P, m, t, g, f}",{t},20
299,WCRhsLDsDLBChTLWHChFTTMdGTQGvGQcMQNGMd,WCRhsLDsDLBChTLWHCh,FTTMdGTQGvGQcMQNGMd,"{s, h, L, D, R, B, H, T, W, C}","{F, c, G, T, N, v, d, Q, M}",{T},46

In [23]:
result = df['value'].sum()
print(f'Part A result:\n{result}')

Part A result:
8202

# part B:

In [24]:
df = pd.read_csv('input.txt', header=None, names=['input_string'])
df

                                         input_string
0            TZZjzzZLfZbzgzZNNJZjwCVbwMmhwCbBpCMMBCbM
1                            qRQPDqnWFQDtCCBQmQwmGGVG
2                              FPllWPDPrncZsLVrgSZTSZ
3                        RczPzRzvflVwfplrZQglmmJJDGQJ
4                                nFbBWWFZbZtJDjmgmqqF
..                                                ...
295    DvScpDDVfBPqVcSbDpbfHpqwCWGJCwCJhvFdFFwlMGJWCG
296                          fhHPbhZSpDbDTmsTZTjRzzQz
297  QbVQvNrrdFcbcMvvdNrcGrrczPnPplPnfnpzwpgmlflRVwwP
298  jBHLRqZWtLLqWDhBLshBCLsHgpfftfPmmpfpwnwfwJgfpfPn
299            WCRhsLDsDLBChTLWHChFTTMdGTQGvGQcMQNGMd

[300 rows x 1 columns]

In [25]:
df['sets']=df['input_string'].apply(set)
df

,input_string,sets
0,TZZjzzZLfZbzgzZNNJZjwCVbwMmhwCbBpCMMBCbM,"{M, Z, L, b, J, h, B, w, p, g, j, T, N, V, m, ..."
1,qRQPDqnWFQDtCCBQmQwmGGVG,"{B, D, R, F, n, w, G, q, P, m, V, W, t, C, Q}"
2,FPllWPDPrncZsLVrgSZTSZ,"{Z, s, L, D, F, n, P, g, r, V, T, S, W, l, c}"
3,RczPzRzvflVwfplrZQglmmJJDGQJ,"{Z, J, R, D, c, w, p, G, P, Q, g, V, r, v, m, ..."
4,nFbBWWFZbZtJDjmgmqqF,"{B, Z, b, J, D, F, n, q, m, j, W, t, g}"
...,...,...
295,DvScpDDVfBPqVcSbDpbfHpqwCWGJCwCJhvFdFFwlMGJWCG,"{h, F, P, V, c, f, M, b, p, C, d, l, J, w, G, ..."
296,fhHPbhZSpDbDTmsTZTjRzzQz,"{h, H, b, Z, D, s, R, p, P, Q, j, T, z, S, m, f}"
297,QbVQvNrrdFcbcMvvdNrcGrrczPnPplPnfnpzwpgmlflRVwwP,"{F, P, V, N, c, f, M, b, p, d, l, Q, R, n, w, ..."
298,jBHLRqZWtLLqWDhBLshBCLsHgpfftfPmmpfpwnwfwJgfpfPn,"{Z, h, P, f, L, p, j, C, s, J, R, w, n, q, W, ..."
299,WCRhsLDsDLBChTLWHChFTTMdGTQGvGQcMQNGMd,"{s, h, L, D, R, B, H, F, c, G, T, N, v, W, C, ..."

In [26]:
df2 = df.groupby(df.index // 3)['sets'].agg(lambda x:list(x))
df2

0     [{M, Z, L, b, J, h, B, w, p, g, j, T, N, V, m,...
1     [{Z, J, R, D, c, w, p, G, P, Q, g, V, r, v, m,...
2     [{h, F, V, N, c, M, L, p, j, C, n, w, G, q, T,...
3     [{h, F, P, N, M, L, d, l, Q, w, G, q, r, v, D,...
4     [{W, Z, L, b, n, G, Q, T, m, g, M}, {s, H, b, ...
                            ...
95    [{M, B, Z, R, F, w, G, q, P, V, N, r, S, l, z,...
96    [{Z, H, B, J, R, D, c, p, n, j, r, N, S, v, m,...
97    [{Z, h, F, V, N, c, L, p, C, d, R, w, G, q, v,...
98    [{W, s, h, R, n, w, G, j, T, r, N, m, C, z, M}...
99    [{F, P, V, N, c, f, M, b, p, d, l, Q, R, n, w,...
Name: sets, Length: 100, dtype: object

In [27]:
df2 = df2.apply(lambda x:x[0] & x[1] & x[2] )
df2

0     {V}
1     {Z}
2     {G}
3     {Q}
4     {Q}
     ...
95    {l}
96    {n}
97    {p}
98    {h}
99    {R}
Name: sets, Length: 100, dtype: object

In [28]:
df2 = df2.apply(lambda x:str(*x))
df2

0     V
1     Z
2     G
3     Q
4     Q
     ..
95    l
96    n
97    p
98    h
99    R
Name: sets, Length: 100, dtype: object

In [29]:
df2 = df2.map(value_mapper)
df2

0     48
1     52
2     33
3     43
4     43
      ..
95    12
96    14
97    16
98     8
99    44
Name: sets, Length: 100, dtype: int64

In [30]:
result = df2.sum()
print(f'Part B result:\n{result}')

Part B result:
2864