In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt', nrows=8, header=None, names=['crates'])
print(df)

                                crates
0          [H]         [S]         [D]
1      [S] [C]         [C]     [Q] [L]
2      [C] [R] [Z]     [R]     [H] [Z]
3      [G] [N] [H] [S] [B]     [R] [F]
4  [D] [T] [Q] [F] [Q] [Z]     [Z] [N]
5  [Z] [W] [F] [N] [F] [W] [J] [V] [G]
6  [T] [R] [B] [C] [L] [P] [F] [L] [H]
7  [H] [Q] [P] [L] [G] [V] [Z] [D] [B]

In [3]:
df['crates'].str.replace(' ', '.')

0    ........[H].........[S].........[D]
1    ....[S].[C].........[C].....[Q].[L]
2    ....[C].[R].[Z].....[R].....[H].[Z]
3    ....[G].[N].[H].[S].[B].....[R].[F]
4    [D].[T].[Q].[F].[Q].[Z].....[Z].[N]
5    [Z].[W].[F].[N].[F].[W].[J].[V].[G]
6    [T].[R].[B].[C].[L].[P].[F].[L].[H]
7    [H].[Q].[P].[L].[G].[V].[Z].[D].[B]
Name: crates, dtype: object

In [4]:
df = df['crates'].str.split(r'\s{1,4}', expand=True) # credit: Ted Petrou
df

     0    1    2    3    4    5    6    7    8
0            [H]            [S]            [D]
1       [S]  [C]            [C]       [Q]  [L]
2       [C]  [R]  [Z]       [R]       [H]  [Z]
3       [G]  [N]  [H]  [S]  [B]       [R]  [F]
4  [D]  [T]  [Q]  [F]  [Q]  [Z]       [Z]  [N]
5  [Z]  [W]  [F]  [N]  [F]  [W]  [J]  [V]  [G]
6  [T]  [R]  [B]  [C]  [L]  [P]  [F]  [L]  [H]
7  [H]  [Q]  [P]  [L]  [G]  [V]  [Z]  [D]  [B]

In [5]:
df.replace(
    { '\[':'', 
      '\]':'',
      #  '':None
        }, 
      regex=True, inplace=True) # credit: Ted Petrou

df

   0  1  2  3  4  5  6  7  8
0        H        S        D
1     S  C        C     Q  L
2     C  R  Z     R     H  Z
3     G  N  H  S  B     R  F
4  D  T  Q  F  Q  Z     Z  N
5  Z  W  F  N  F  W  J  V  G
6  T  R  B  C  L  P  F  L  H
7  H  Q  P  L  G  V  Z  D  B

In [6]:
# (df[0]=='').sum()

In [7]:
df = df.apply(lambda x:x.shift( -( (x=='').sum() ) , fill_value='' ) )
# df = df.apply(lambda x:x.shift( -x.isna().sum() ) )
df

   0  1  2  3  4  5  6  7  8
0  D  S  H  Z  S  S  J  Q  D
1  Z  C  C  H  Q  C  F  H  L
2  T  G  R  F  F  R  Z  R  Z
3  H  T  N  N  L  B     Z  F
4     W  Q  C  G  Z     V  N
5     R  F  L     W     L  G
6     Q  B        P     D  H
7        P        V        B

In [8]:
df.columns = list(range(1,10)) # renaming columns
df

   1  2  3  4  5  6  7  8  9
0  D  S  H  Z  S  S  J  Q  D
1  Z  C  C  H  Q  C  F  H  L
2  T  G  R  F  F  R  Z  R  Z
3  H  T  N  N  L  B     Z  F
4     W  Q  C  G  Z     V  N
5     R  F  L     W     L  G
6     Q  B        P     D  H
7        P        V        B

In [9]:
# df.to_csv('iba_tak.csv')

In [10]:
df.ne('').sum().sum()

56

In [11]:
n_crates = (df!='').sum().sum()
# n_crates = df.ne('').sum().sum()
# n_crates = df.applymap(lambda x:True if x!='' else False).sum().sum()
# n_crates = df.notna().sum().sum() # 56 crates altogether
n_crates

56

In [12]:
df = df.reindex(range(n_crates), fill_value='')
df

    1  2  3  4  5  6  7  8  9
0   D  S  H  Z  S  S  J  Q  D
1   Z  C  C  H  Q  C  F  H  L
2   T  G  R  F  F  R  Z  R  Z
3   H  T  N  N  L  B     Z  F
4      W  Q  C  G  Z     V  N
5      R  F  L     W     L  G
6      Q  B        P     D  H
7         P        V        B
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [13]:
df_saved = df.copy()

In [14]:
# read moves
df_moves = pd.read_csv('input.txt', header=None, skiprows=10, names=['moves'])
df_moves

                   moves
0     move 2 from 7 to 2
1     move 1 from 4 to 8
2     move 2 from 1 to 9
3     move 4 from 6 to 5
4     move 1 from 7 to 6
..                   ...
498  move 44 from 5 to 4
499   move 2 from 5 to 8
500   move 1 from 7 to 3
501  move 16 from 4 to 6
502   move 3 from 5 to 9

[503 rows x 1 columns]

In [15]:
# toto bude regex:
# r'(\d+) from (\d) to (\d)'

In [16]:
# extract moves
df_moves = df_moves['moves'].str.extract(r'(\d+) from (\d) to (\d)') 
df_moves = df_moves.applymap(int)
df_moves

      0  1  2
0     2  7  2
1     1  4  8
2     2  1  9
3     4  6  5
4     1  7  6
..   .. .. ..
498  44  5  4
499   2  5  8
500   1  7  3
501  16  4  6
502   3  5  9

[503 rows x 3 columns]

In [17]:
def engine_func(ser, crate_order):
    amount_ , from_ , to_ = ser
    df[to_] = df[to_].shift(amount_)
    df.loc[ :amount_-1 , to_] = df.loc[ :amount_-1 , from_][::crate_order].values
    # df.iloc[0:amount_ , to_-1] = df.iloc[ 0:amount_ , from_-1][::-1]
    df[from_] = df[from_].shift(-amount_ , fill_value='')

In [18]:
df_moves.apply( engine_func , axis=1, crate_order=-1)

0      None
1      None
2      None
3      None
4      None
       ...
498    None
499    None
500    None
501    None
502    None
Length: 503, dtype: object

In [19]:
df # final state

    1  2  3  4  5  6  7  8  9
0   R  F  F  F  W  B  P  N  S
1            S  R  H     D  H
2            P  D  L        C
3            F     Q
4            C     G
5            Z     H
6            H     Z
7            T     D
8            R     Z
9            Z     R
10           L     Q
11           W     Z
12           C     B
13           G     L
14           Z     G
15           B     V
16           Q
17           H
18           N
19           Q
20           T
21           F
22           C
23           V
24           L
25           S
26           J
27           N
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [20]:
result = df.loc[ 0, :].sum()
print(f'Part A result:\n{result}')

Part A result:
RFFFWBPNS

In [21]:
# 'RFFFWBPNS'

# part2:

In [22]:
df = df_saved.copy()

In [23]:
df_moves.apply( engine_func , axis=1, crate_order=None)

0      None
1      None
2      None
3      None
4      None
       ...
498    None
499    None
500    None
501    None
502    None
Length: 503, dtype: object

In [24]:
result = df.loc[ 0, :].sum()
print(f'Part B result:\n{result}')

Part B result:
CQQBBJFCS

In [25]:
# CQQBBJFCS