In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('input.txt', header=None, names=['kalorie'], skip_blank_lines=False)
df

      kalorie
0      5916.0
1      7281.0
2      1715.0
3      3853.0
4     10283.0
...       ...
2257   3995.0
2258   1955.0
2259   4056.0
2260   7203.0
2261   3175.0

[2262 rows x 1 columns]

In [9]:
df['elf_counter']= df.isna().cumsum()
df

      kalorie  elf_counter
0      5916.0            0
1      7281.0            0
2      1715.0            0
3      3853.0            0
4     10283.0            0
...       ...          ...
2257   3995.0          258
2258   1955.0          258
2259   4056.0          258
2260   7203.0          258
2261   3175.0          258

[2262 rows x 2 columns]

In [11]:
# part1:
df.groupby('elf_counter')['kalorie'].sum().max()

71124.0

In [13]:
# part2:
df.groupby('elf_counter')['kalorie'].sum().nlargest(3).sum()

204639.0